.About-title {
  color:#612325;
}

.About-info-container {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 10px;
  border-radius: 15px;;
  background-color: #eee4dc;
}

.About-SE {
  color: rgb(138, 123, 93);
}

.About-info-container:after {
  content: "";
  display: block;
  clear: both;
}

.About-work {
  font-size: 20px;
}

.About-info {
  color: rgb(138, 123, 93);
  animation-name: moveLeftRight;
  animation-duration: 2s;
  animation-fill-mode: both;
  border-bottom: 5px solid #612325;
  border-top: 5px solid #612325;
  margin-right: 10rem;
  margin-left: 10rem;
  padding-bottom: 10px;
}

.About-info-pre {
  float: left;
  max-width: 400px;
}

.About-info-body {
  float:right;
  max-width: 550px;
  text-align: left;
  padding: 5px;
}


@media only screen and (max-width: 500px){
  .About-info {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@keyframes moveLeftRight {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translate(0px)
  }
}