
.Contact-email {
  font-size: 20px;
  color: #501b1d;
  text-decoration: none;
}

.Contact-arrow {
  height: 300px;
}

.Contact-mail-gif {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .Contact-arrow {
    height: 150px;
  }
  .Contact-mail-gif {
    height: 200px;
  }
}