body {
  background-color: #eee2dc;
  padding-bottom: 10vh;
}

.headshot {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  position: absolute;
  left: 6rem;
  top: 6rem;
  animation-name: moveLeftRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.container {
  text-align: center;
}

.Home-intro {
  color: rgb(77, 117, 136);
  font-size: 20px;
  margin-top: 100px;
}

.Home-name {
  color: #501b1d;
  font-size: 50px;
}

.Home-info {
  color:rgb(77, 117, 136);
  font-size: 20px;
  animation-name: moveRightLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.Home-btn-div {
  margin-top: 7rem;
  animation-name: moveRightLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

.Home-projects-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  height: 50px;
  border-radius: 50px;
  background-color: #edc7b7;
  padding: 15px;
  font-size: 3.5vh;
  color: #501b1d;
}

.Home-projects-btn:hover {
  background-color: #f7dacd;
  transition: ease 0.4s;
}

@media only screen and (max-width: 1000px) {
  .Home-intro {
    margin-top: 60px;
  }

  .Home-projects-btn{
   font-size: 15px;
  }
  .Home-btn-div {
    margin-top: 4rem;
  }

  .headshot {
    width: 250px;
    height: 250px;
    position: relative;
    left: 0.2rem;
    top: 2rem;
  }
}


@keyframes moveRightLeft {
  from {
    transform: translateX(900px);
  }

  to {
    transform: translate(0px)
  }
}

@keyframes moveLeftRight {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translate(-900px)
  }
}



