body {
  background-color: rgb(24, 24, 41);
}

.Home-intro {
  margin-top: 100px;
  color: rgb(190, 123, 140);
  font-size: 20px;
}

.Home-name {
  color:  rgb(60, 180, 160);
  font-size: 50px;
}

.Home-info {
  color: rgb(161, 158, 158);
  font-size: 20px;
}

.Home-pinkDot {
  margin-top: 100px;
}

@media only screen and (max-width: 600px) {
  .Home-pinkDot{
   width: 300px;
  }
}

.Home-projects-btn {
  font-family: monospace;
  border: none;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(161, 158, 158);
  margin: 30px;
  padding: 15px;
}

.Home-projects-btn:hover {
  background-color: rgb(190, 123, 140);
}