.NavBar-list {
  display: inline;
}

.NavBar-link {
  text-decoration: none;
  color:  rgb(60, 180, 160);
  margin: 20px;
}

@media (orientation: portrait){
  .NavBar-list{
    margin: 10px;
  }
}

.NavBar-link:hover {
  color: rgb(161, 158, 158);
  font-size: 15px;
}

.NavBar-link.active {
  color: rgb(161, 158, 158);
}