nav {
  margin-bottom: 20px;
  margin-top: 30px;
}
.NavBar-list {
  display: inline;
  margin: 10px;
}

.NavBar-link {
  text-decoration: none;
  color:  rgb(60, 180, 160);
  margin: 50px;
}

.NavBar-link.active {
  color: rgb(161, 158, 158);
}

@media only screen and (max-width: 600px) {
  .NavBar-link {
    margin: 30px;
  }

}